* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*-----------------------Header------------------------------------------*/
header .headerLimited {
  display: flex;
  justify-content: space-between;
}
header .headerLimited .number {
  text-decoration: none;
  color: #f9f4f5;
  font-size: 2rem;
}
/*---------- slick slider ----------------------*/
.myslider {
  width: 100%;
}
.myslider img {
  width: 100%;
}
