footer{
    background-color:@DkAccent;
    color: @PrimaryColor;
    font-size: 1.5rem;

    a{
        text-decoration: none;
        color:@PrimaryColor;
    }

    a:hover{
        font-weight: bold;
    }
   
}

.footerWrapper{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


h3{
    font-size: 1.5rem;
   
}

p{
    font-size: 1rem;

}


.firstBlock{
    width: 33%;
    padding: 2%;
}

.secondBlock{
    width: 33%;
    padding: 2%;
}

.newsLetterForm{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2%;

    .emailAddress{
        width: 80%;
        border-radius: 5px;
        border: none;
        font-size: 1.5rem;
        background-color: @SecondaryColor;
        color: @PrimaryColor;
        margin-top: 5%;
        text-align: center;
        padding: 2%;
    }
    .submitButton{
        border-radius: 15px;
        width: 80%;
        font-size: 1.5rem;
        background-color: @SecondaryColor;
        color: @PrimaryColor;
        font-weight: bold;
        margin-top: 5%;
        padding: 2%;
        border: none;
    }

    .submitButton:hover{
        background-color:@LtAccent;
    }
   
   
}

h3{
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 4%;
}

p{
    padding-bottom: 6%;
}


.thirdBlock{
    width: 33%;
    padding: 2%;
}

/*-------------------- Tablet ---------------------*/
@media @tablet{
    .firstBlock{
        width: 48%;
        margin-bottom: 2%;
    }

    .secondBlock{
        width: 48%;
        margin-bottom: 2%;



    }

    .thirdBlock{
        width:98%;
        margin-bottom: 2%;
    }


}//end media tablet

/*-------------------- Mobile ---------------------*/
@media @mobile {
    .firstBlock{
        width: 100%;
        margin-bottom: 2%;
    }

    .secondBlock{
        width: 100%;
        margin-bottom: 2%;
    }

    .thirdBlock{
        width: 100%;
        margin-bottom: 2%;
    }
}//end media mobile



.wrapperSocial{
    background-color: @PrimaryColor;
}

.socialMedia{
    font-size: 3rem;
    width: 100%;
   max-width: 800px;
   margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  color: @SecondaryColor;

  i{
      padding:2%;
  }

  i:hover{
      background-color:@LtAccent;
      color: @PrimaryColor;
  }
}


.copyRight{
    background-image: linear-gradient(#ffae42, #fe5b35);
    text-align: center;
    padding: 1%;

   
}

h5{
    font-size: 1rem;

}
