/*---------- slick slider ----------------------*/
.myslider {width: 100%;
    img {
        width: 100%;}
    }//myslider
    
    h2{
        color:@DkAccent;
        font-size: 2rem; 
        text-align: center;
    }
    
    
    /*---------- Articles ----------------------*/
    .articleOn{
        display:block;
        width: 33.33%;

        img{
            position: absolute;
        }

        span{
            position: fixed;
            top:0;
        }
   
}