/*---------- slick slider ----------------------*/
.myslider {
    width: 100%;
    
    img {
        width: 100%;
    }//img
    }//myslider
    
    h2{
        color:@DkAccent;
        font-size: 2rem; 
        text-align: center;
    }
    
    
    /*---------- Articles ----------------------*/
    .sizeRestraint{
        max-width: 1200px;
        margin: 0 auto;
        display:flex;
        flex-wrap: wrap;
        border: green 2px solid;
    }
    .articleOn{
        width: 25%;
        border: blue 2px solid;
        position:relative;
        margin-bottom: 2%;
        

        img{
            display: block;
            opacity: 75%;
            width: 100%;
        }

        img:hover{
            opacity: 100%;
        }

        span{
            position: absolute;
            display:block;
           top:0;
            width: 100%;
            color: #fff;
            font-size: 1.5rem;
            background-color: rgba(14, 12, 12, 0.5);
            padding: .3rem 2%;
            text-align: center;
          
        }

   
}//.articleOn
 
@media @mobile {
    .articleOn{
        width: 100%;
    }
}

footer{
    background-color:@DkAccent;
    color: #fff;
    font-size: 1.5rem;
}