/*---------- slick slider ----------------------*/
.myslider {
    width: 100%;
    
    img {
        width: 100%;
    }//img
    }//myslider
    
    h2{
        color:@DkAccent;
        font-size: 2rem; 
        text-align: center;
    }
    
    
    /*---------- Articles ----------------------*/
    .sizeRestraint{
        max-width: 1200px;
        margin: 0 auto;
        display:flex;
        justify-content: space-evenly;    
        padding-top: 2%;
        padding-bottom: 2%;
        flex-wrap: wrap;
       
    }

 
    .articleOn{
        width:23%;
        position:relative;
       
        
        

        img{
            display: block;
            width: 100%;
            opacity: .7;
        }

   
       img:hover{
            opacity: 1;
        }

        .top{
            position: absolute;
            display:block;
           top:0;
            width: 100%;
            color: #fff;
            font-size: 1.5rem;
            background-color: rgba(14, 12, 12, 0.5);
            padding: .3rem 2%;
            text-align: center;
          
        }

     .bottom{
            position: absolute;
            display:block;
            bottom:0;
            width: 100%;
            color: #fff;
            font-size: 1.5rem;
            background-color: rgba(14, 12, 12, 0.5);
            padding: .3rem 2%;
            text-align: center;
        }

   
}//.articleOn
 
@media @tablet{
    .articleOn{
        width: 30%;
        margin-bottom: 2%;
    }
}

@media @mobile {
    .articleOn{
        width: 45%;
        margin-bottom: 2%;
    }
}

