// variables
@PrimaryColor:  #011502;
@SecondaryColor: #f9f4f5;
@LtAccent: #fe5b35;
@DkAccent: #ffae42;

@tablet: ~"(max-width:  64rem)";
@mobile: ~"(max-width: 32rem)";
@fontStack: @primaryFont;
@primaryFont:'Lora', serif;


